/* Reset styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Helvetica', sans-serif;
    color: #333;
    background-color: #fff;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* 添加背景颜色 */
}

.logo {
    width: 60px;
    margin-right: 20px;
}

/* 修改导航栏样式 */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 10px;
    padding-bottom: 5px;
    color: rgb(58, 58, 58);
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #333;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

/* 图片容器居中 */
.image-container-1, .image-container-0 {
    text-align: center;
    margin: 20px 0;
}

.image-container-1 img, .image-container-0 img {
    max-width: 100%;
    height: auto;
}

/* 其他小调整 */
.mini-title {
    font-size: 10px;
    border: 1px solid #333;
}

.small-text {
    font-size: 12px;
    text-align: center;
}
