/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

/* Reset styles */
html, body {
    height:100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 禁止横向滚动 */
    overflow-y: auto; /* 允许垂直滚动 */
}

body {
    font-family: 'Helvetica', sans-serif; /* 使用 Helvetica 字体 */
    color: #333;
    background-color: #fff;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 60px;
    margin-right: 20px;
}


nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    position: relative; /* 相对定位，让伪元素基于 a 元素定位 */
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 10px;
    padding-bottom: 5px; /* 为下划线留出空间 */
    color: rgb(58, 58, 58);
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px; /* 下划线的高度 */
    background-color: #333; /* 下划线的颜色 */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease-in-out; /* 添加过渡效果 */
    transform: scaleX(0);
    transform-origin: bottom left;
}

nav ul li a:hover::after {
    width: 100%;
    transform: scaleX(1); /* 悬停时展开下划线 */
}

nav ul li a.clicked::after, 
nav ul li a.active::after {
    width: 100%;
    transform: scaleX(1); /* 点击时保持下划线 */
}


/* 确保图片容器居中 */
a {
    display: block;
    text-align: center;
}

/* 确保图片在容器中居中 */
a img {
    display:inline-block;
    max-width: 100%; /* 使图片适应容器宽度 */
    height: auto;    /* 保持图片的纵横比 */
}


/* Main content styles */
main {
    padding: 0; /* 去掉之前的 padding 设置 */
}


.image-container-0 {
    display: inline-block;
    flex-direction: column;
    align-items: center; /* 使 container 和内容水平居中 */
    justify-content: center; /* 使 container 和内容垂直居中 */
    margin-top: 100px; /* 只影响图片上方的间距，不影响导航栏 */
    animation: fadeInUp 1s ease-out; /* 1.5秒淡入动画 */
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 10px;
    width:80%
}

.image-container-0 a {
    display: inline-block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    margin-top: 10px;
    text-align: left;
}

.image-container-1 {
    display: inline-block;
    flex-direction: column;
    align-items: center; /* 使 container 和内容水平居中 */
    justify-content: center; /* 使 container 和内容垂直居中 */
    margin-top: 200px; /* 只影响图片上方的间距，不影响导航栏 */
    animation: fadeInUp 1s ease-out; /* 1.5秒淡入动画 */
    text-align: center;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 10px;
}

.image-container-1 a {
    display: inline-block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    margin-top: 10px;
    width: 75%;
}

.image-container-1 img {
    display: block;
    margin: 0 auto; /* 水平居中图片 */
    max-width: 100%; /* 图片宽度不超过 container */
    height: auto; /* 保持图片的纵横比 */
    width: 100%;
    box-sizing: border-box; /* 包括 padding 和 border 在 width 计算中 */
    
}
.mini-title
{
    display:inline-block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    font-size: 10px;
    border: 1px solid #333; /* 椭圆圈的颜色和粗细 */
    border-radius: 30px; /* 圆角设置为50px，形成椭圆形 */
    padding: 7px;
    text-align: center;
}

.image-title
{
    display: block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    margin-top: 40px;
    font-size: 15px;
}

.image-container-2 {
    display: flex;
    flex-direction: column; /* 垂直排列内容 */
    align-items: center; /* 水平居中内容 */
    margin-top: 200px;
    margin-left: 170px;
    animation: fadeInUp 1.5s ease-out;
    text-align: center;
    font-family: "Helvetica", sans-serif;
    width: 75%; /* 根据需要调整宽度 */
}

.image-row {
    display: flex; /* 图片并排 */
    justify-content: center; /* 水平居中图片 */
    flex-wrap: wrap; /* 允许换行 */
    margin-bottom: 40px; /* 图片下方的间距 */
}

.image-container-2 img {
    height: 200px; 
    width: auto;
    margin: 0 10px; /* 图片之间的间距 */
}



.image-title-1
{
    display: block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    margin-top: -100px;
    font-size: 200px;
}

.image-title-2
{
    display: block;
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的字体颜色 */
    margin-top: -200px;
    font-size: 100px;
}

.small-text{
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
    font-size: 10px;
    margin-top: -5px;
    text-align: center;
    animation: fadeInUp 1s ease-out;
    
}

.image-gradient {
    width: 100%; /* 根据需要设置宽度 */
    height: auto; /* 保持图片的纵横比 */
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgb(0, 0, 0) 60%);
}

.image-gradient-2 {
    width: 100%; /* 根据需要设置宽度 */
    height: auto; /* 保持图片的纵横比 */
    mask-image: linear-gradient(to right, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
}


/* 调整小文字的间距 */
.image-container-1 .small-text {
    margin-top: -5px; /* 确保小文字没有额外的间距 */
    margin-bottom: 0; /* 确保小文字没有额外的间距 */
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px); /* 从30px的下方开始 */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* 逐渐移动到原始位置 */
    }
}

a.image-link {
    display: block;
    text-align: center;
    margin-top: 150px; /* 上间距，调整此值以增减距离 */
    margin-bottom: 20px; /* 下间距，调整此值以增减距离 */
}

.navigation {
    margin-bottom: 20px; /* 根据需要调整 */
}

.back-link
{
    
    font-size: 10px;
    text-decoration: none; /* 去掉下划线 */
    color: #000000; /* 设置链接颜色 */
    font-weight: 1000;
    transition: color 0.3s ease; /* 鼠标悬停时颜色过渡效果 */
    animation: fadeInUp 1.5s ease-out; /* 1.5秒淡入动画 */
    margin-top: 40px;
    text-align: center;
    padding: 5px 10px; /* 增加内边距，使椭圆圈更明显 */
    border: 1px solid #333; /* 椭圆圈的颜色和粗细 */
    border-radius: 20px; /* 圆角设置为50px，形成椭圆形 */
    display: flex; /* 让元素根据内容大小调整自身宽度 */
    justify-content: center; /* 垂直居中 */
    margin: 200px auto; /* 自动左右边距使容器水平居中 */
    width: 45px;
    line-height: 1;

}


/* Footer styles */
footer {
    position: fixed;
    height: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 8px;
    font-weight: 400;
    padding: 0;
    padding-bottom: 0px;
}
